<style>
#remoteVideos video {
width: 100%;
}
</style>
<div class="row">
	<div class="col-lg-4">
		<!-- Request List -->
		<rd-widget>
		<rd-widget-header icon="fa-list" title="Request List">
		</rd-widget-header>
		<rd-widget-body classes="medium no-padding">
		<div class="table-responsive">
			<table class="table">
				<tbody>
					<tr ng-repeat="request in requests">
						<td class="col-sm-8">{{request.name}}</td>
						<!-- Accept Request -->
						<td ng-if="request.state=='w'"><a class="btn btn-xs btn-info"tooltip="Click to accept the request" ng-click="acceptRequest(request)"><i class="fa fa-clock-o"></i></a></td>
						<!-- Presenting -->
						<td ng-if="request.state=='p'"><a class="btn btn-xs btn-link"tooltip="Presenting...."><i class="fa fa-microphone"></i></a></td>
						<!-- Delete Request -->
						<td><a class="btn btn-xs btn-danger" ng-click="deleteRequest(request)">
						<i class="fa fa-trash-o"></i></a></td>
					</tr>
					<tr>
					</tbody>
				</table>
			</div>
			</rd-widget-body>
			</rd-widget>
			<br>
			<!-- Chat Window -->
			<rd-widget>
			<rd-widget-header icon="fa-comments" title="Chat">
			</rd-widget-header>
			<rd-widget-body classes="medium no-padding">
			<div class="table-responsive">
				<table class="table">
					<tbody>
						<tr ng-repeat="message in chat">
							<td class="col-sm-4">{{message.name}}:</td>
							<td>{{message.content}}</td>
						</tr>
						<tr>
						</tbody>
					</table>
				</div>
				</rd-widget-body>
				<rd-widget-footer>
				<div class="input-group">
					<input type="text" class="form-control" placeholder="New Message" ng-model="message.content">
					<span class="input-group-btn">
						<button class="btn btn-primary" type="button" ng-click="sendMessage()">Send</button>
					</span>
				</div>
				</rd-widget-footer>
				</rd-widget>
			</div>
			<div class="col-lg-8">
				<!-- Attendant List Panel -->
				<rd-widget ng-show="presenting">
				<rd-widget-header icon="fa-video-camera" title="Video">
				</rd-widget-header>
				<rd-widget-body>
				<div id="remoteVideos"></div>
				</rd-widget-body>
				</rd-widget>
			</div>
		</div>