<div class="row">
	<div class="col-lg-6">
		<!-- Current Quiz Panel -->
		<rd-widget>
		<rd-widget-header icon="fa-spinner" title="Current Quiz">
		<button class="btn btn-sm btn-info" ng-click="openQuizModal()">Create Quiz</button>
		</rd-widget-header>
		<rd-widget-body classes="medium no-padding">
		<div class="table-responsive">
			<table class="table">
				<tbody>
					<tr ng-repeat="quiz in currentQuiz" ng-click="selectQuiz(quiz)">
						<td class="col-sm-1">{{$index+1}}</td>
						<td>{{quiz.question}}</td>
					</tr>
				</tbody>
			</table>
		</div>
		</rd-widget-body>
		</rd-widget>
		<br>
		
		<!-- Completed Quiz Panel -->
		<rd-widget>
		<rd-widget-header icon="fa-flag" title="Completed List">
		<input type="text" placeholder="Search" class="form-control input-sm" ng-model="search.quiz"/>
		</rd-widget-header>
		<rd-widget-body classes="medium no-padding">
		<div class="table-responsive">
			<table class="table">
				<tbody>
					<tr ng-repeat="quiz in completedQuiz | filter: search.quiz" ng-click="selectQuiz(quiz)">
						<td class="col-sm-1">{{$index+1}}</td>
						<td>{{quiz.question}}</td>
					</tr>
				</tbody>
			</table>
		</div>
		</rd-widget-body>
		</rd-widget>
	</div>
	<div class="col-lg-6">
		<!-- Quiz Detail Panel -->
		<rd-widget ng-show="selectedQuiz">
		<rd-widget-header icon="fa-eye" title="Quiz Detail">
		<button class="btn btn-sm" ng-class="{'btn-success': !selectedQuiz.completed, 'btn-warning': selectedQuiz.completed}" ng-click="toggleComplete()">
		<i class="fa" ng-class="{'fa-check-square-o': !selectedQuiz.completed, 'fa-square-o': selectedQuiz.completed}"></i>
		Mark {{selectedQuiz.completed? "Uncomplete" : "Complete"}}</button>
		</rd-widget-header>
		<rd-widget-body>
		<h4>{{selectedQuiz.question}}</h4>
		<div class="input-group" ng-repeat="choice in selectedQuiz.choices">
			<span class="input-group-addon">
				<input type="radio" ng-model="selectedQuiz.answer" ng-value="choice.content" disabled="false">
			</span>
			<input type="text" class="form-control" ng-model="choice.content" disabled="true">
		</div>

		<div google-chart chart="columnChart"></div>

		</rd-widget-body>
		</rd-widget>
	</div>
</div>
<script type="text/ng-template" id="QuizModal.html">
<div class="modal-header">
		<h3 class="modal-title">Create New Course</h3>
</div>
<div class="modal-body">
		<form>
		<!-- Question Field -->
		<div class="form-group">
			<label for="question" class="control-label">Question</label>
			<input type="text" id="question" class="form-control" placeholder="Question"  autofocus ng-model="quiz.question">
		</div>
		<!-- New Choice Field -->
		<div class="input-group" ng-repeat="choice in quiz.choices">
			<span class="input-group-addon">
				<input type="radio" ng-model="quiz.answer" ng-value="choice.content">
			</span>
			<input type="text" class="form-control" ng-model="choice.content">
		</div>
		<br>
		<button class="btn btn-block btn-default" ng-click="addChoice()">
		<i class="fa fa-plus"></i>
		Add Choice
		</button>
	</form>
</div>
<div class="modal-footer">
	<button class="btn btn-primary" ng-click="create()">Create</button>
	<button class="btn btn-warning" ng-click="$modalInstance.dismiss('cancel')">Cancel</button>
</div>
</script>