<ion-view hide-nav-bar="true">
	<ion-header-bar class="bar-balanced">
		<div class="buttons">
			<button class="button button-icon button-clear ion-ios-arrow-back" ui-sref="app.quizList({status: status})">Back</button>
		</div>
		<h1 class="title">Quiz Question</h1>
	</ion-header-bar>
	<ion-content>
		<div class="list card">
			<div class="item">
				{{quiz.question}}
			</div>
			<div class="item item-body">
				<ion-radio ng-repeat="(index, choice) in quiz.choices"
					ng-value="index"
					ng-model="quiz.selection">
					{{ choice.content }}
				</ion-radio>
			</div>
			<div class="item tabs tabs-secondary tabs-icon-left">
				<!-- Submit selection -->
				<a class="tab-item" ng-click="submit()" ng-if="status=='current'">
					<i class="icon ion-android-checkbox-outline"></i>
					Submit
				</a>
				<a class="tab-item" ui-sref="app.quizDetail({status: status, quizID: quizID-1})" ng-if="quizID > 0">
					<i class="icon ion-arrow-left-c"></i>
					Prev Question
				</a>
				<a class="tab-item" ng-if="quizID == 0">
					<i class="icon ion-happy-outline"></i>
					Beginning of Quiz List
				</a>
				<!-- Go to next Question -->
				<a class="tab-item" ui-sref="app.quizDetail({status: status, quizID: quizID+1})" ng-if="quizID < quizs.length-1">
					<i class="icon ion-arrow-right-c"></i>
					Next Question
				</a>
				<a class="tab-item" ng-if="quizID == quizs.length-1">
					<i class="icon ion-happy-outline"></i>
					End of Quiz List
				</a>
			</div>
		</div>
	</ion-content>
</ion-view>